.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}
.input {
  padding: 8px 13px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.textarea {
  padding: 8px 13px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  resize: none;
  height: 200px;
}
.note-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.note-actions .cancel-button {
  background-color: #c70000;
  color: #fff;
}
.note-actions .create-button {
  background-color: #00ab66;
  color: #fff;
}
.note-actions .cancel-button:hover,
.note-actions .create-button:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .note-wrapper {
    width: 60%;
  }
}
